POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DB_URL=jdbc:postgresql://localhost:5432/otp_service
DB_USERNAME=
DB_PASSWORD=

SERVER_PORT=
FLYWAY_LOCATIONS=classpath:db/migration
TOKEN_SECRET=
TOKEN_TTL_SECONDS=3600
OTP_EXPIRATION_SCHEDULER_INTERVAL_SECONDS=60

EMAIL_ENABLED=false
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
MAIL_SMTP_HOST=smtp.example.com
MAIL_SMTP_PORT=587
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true

SMS_ENABLED=false
SMPP_HOST=localhost
SMPP_PORT=2775
SMPP_SYSTEM_ID=
SMPP_PASSWORD=
SMPP_SYSTEM_TYPE=OTP
SMPP_SOURCE_ADDR=OTPService

TELEGRAM_ENABLED=false
TELEGRAM_BOT_TOKEN=
